
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // & > *{border: 1px solid red;}
}

body{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3{
    color: rgb(54, 54, 54);
}
h4{
    font-weight: 400;
    color: rgb(95, 36, 36);
}
.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

.App{
    transition: all 0.5s ease;
}
.library-active{
    margin-left: 20rem;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav"